<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Score Predictor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <header>
        <h1 class="mt-5">Credit Score Predictor</h1>
        <h3>Subject: Machine Learning | By: Dilshod Yuldoshev</h3>
        <p class="description">Welcome to the Credit Score Prediction project. This tool uses machine learning to
            predict your credit score based on various financial inputs.</p>
    </header>
    <form action="/predict" method="post">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Age">Age</label>
                <input type="text" class="form-control" id="Age" name="Age">
            </div>

            <div class="form-group col-md-4">
                <label for="Annual_Income">Annual Income</label>
                <input type="text" class="form-control" id="Annual_Income" name="Annual_Income">
            </div>

            <div class="form-group col-md-4">
                <label for="Monthly_Inhand_Salary">Monthly Inhand Salary</label>
                <input type="text" class="form-control" id="Monthly_Inhand_Salary" name="Monthly_Inhand_Salary">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Num_Bank_Accounts">Number of Bank Accounts</label>
                <input type="text" class="form-control" id="Num_Bank_Accounts" name="Num_Bank_Accounts">
            </div>

            <div class="form-group col-md-4">
                <label for="Num_Credit_Card">Number of Credit Cards</label>
                <input type="text" class="form-control" id="Num_Credit_Card" name="Num_Credit_Card">
            </div>
            <div class="form-group col-md-4">
                <label for="Interest_Rate">Interest Rate</label>
                <input type="text" class="form-control" id="Interest_Rate" name="Interest_Rate">
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="Delay_from_due_date">Delay from Due Date</label>
                <input type="text" class="form-control" id="Delay_from_due_date" name="Delay_from_due_date">
            </div>

            <div class="form-group col-md-4">
                <label for="Num_of_Delayed_Payment">Number of Delayed Payments</label>
                <input type="text" class="form-control" id="Num_of_Delayed_Payment" name="Num_of_Delayed_Payment">
            </div>

            <div class="form-group col-md-4">
                <label for="Changed_Credit_Limit">Changed Credit Limit</label>
                <input type="text" class="form-control" id="Changed_Credit_Limit" name="Changed_Credit_Limit">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Num_Credit_Inquiries">Number of Credit Inquiries</label>
                <input type="text" class="form-control" id="Num_Credit_Inquiries" name="Num_Credit_Inquiries">
            </div>

            <div class="form-group col-md-4">
                <label for="Outstanding_Debt">Outstanding Debt</label>
                <input type="text" class="form-control" id="Outstanding_Debt" name="Outstanding_Debt">
            </div>
            <div class="form-group col-md-4">
                <label for="Credit_Utilization_Ratio">Credit Utilization Ratio</label>
                <input type="text" class="form-control" id="Credit_Utilization_Ratio" name="Credit_Utilization_Ratio">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Credit_History_Age">Credit History Age</label>
                <input type="text" class="form-control" id="Credit_History_Age" name="Credit_History_Age">
            </div>
            <div class="form-group col-md-4">
                <label for="Total_EMI_per_month">Total EMI per Month</label>
                <input type="text" class="form-control" id="Total_EMI_per_month" name="Total_EMI_per_month">
            </div>

            <div class="form-group col-md-4">
                <label for="Amount_invested_monthly">Amount Invested Monthly</label>
                <input type="text" class="form-control" id="Amount_invested_monthly" name="Amount_invested_monthly">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Monthly_Balance">Monthly Balance</label>
                <input type="text" class="form-control" id="Monthly_Balance" name="Monthly_Balance">
            </div>
            <div class="form-group col-md-4">
                <label for="Count_Auto_Loan">Count of Auto Loans</label>
                <input type="text" class="form-control" id="Count_Auto_Loan" name="Count_Auto Loan">
            </div>

            <div class="form-group col-md-4">
                <label for="Count_Credit_Builder_Loan">Count of Credit-Builder Loans</label>
                <input type="text" class="form-control" id="Count_Credit_Builder_Loan" name="Count_Credit-Builder Loan">
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Count_Personal_Loan">Count of Personal Loans</label>
                <input type="text" class="form-control" id="Count_Personal_Loan" name="Count_Personal Loan">
            </div>
            <div class="form-group col-md-4">
                <label for="Count_Home_Equity_Loan">Count of Home Equity Loans</label>
                <input type="text" class="form-control" id="Count_Home_Equity_Loan" name="Count_Home Equity Loan">
            </div>

            <div class="form-group col-md-4">
                <label for="Count_Not_Specified">Count Not Specified</label>
                <input type="text" class="form-control" id="Count_Not_Specified" name="Count_Not Specified">
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="Count_Mortgage_Loan">Count of Mortgage Loans</label>
                <input type="text" class="form-control" id="Count_Mortgage_Loan" name="Count_Mortgage Loan">
            </div>
            <div class="form-group col-md-4">
                <label for="Count_Student_Loan">Count of Student Loans</label>
                <input type="text" class="form-control" id="Count_Student_Loan" name="Count_Student Loan">
            </div>
            <div class="form-group col-md-4">
                <label for="Count_Debt_Consolidation_Loan">Count of Debt Consolidation Loans</label>
                <input type="text" class="form-control" id="Count_Debt_Consolidation_Loan"
                       name="Count_Debt Consolidation Loan">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Count_Payday_Loan">Count of Payday Loans</label>
                <input type="text" class="form-control" id="Count_Payday_Loan" name="Count_Payday Loan">
            </div>
            <div class="form-group col-md-4">
                <label for="Month">Month</label>
                <input type="text" class="form-control" id="Month" name="Month">
            </div>

            <div class="form-group col-md-4">
                <label for="Occupation">Occupation</label>
                <input type="text" class="form-control" id="Occupation" name="Occupation">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Credit_Mix">Credit Mix</label>
                <input type="text" class="form-control" id="Credit_Mix" name="Credit_Mix">
            </div>

            <div class="form-group col-md-4">
                <label for="Payment_of_Min_Amount">Payment of Minimum Amount</label>
                <input type="text" class="form-control" id="Payment_of_Min_Amount" name="Payment_of_Min_Amount">
            </div>
            <div class="form-group col-md-4">
                <label for="Payment_Behaviour">Payment Behaviour</label>
                <input type="text" class="form-control" id="Payment_Behaviour" name="Payment_Behaviour">
            </div>
        </div>
        <div class="margin-">
            <button type="submit" class="btn btn-primary btn-inline">Predict</button>
        </div>
    </form>
</div>
</body>
</html>

